/**
 * @file
 * Styles for ContextIOParser related derivative sources table.
 */

#derivative-sources-table td {
  vertical-align: top;
}
/* Name column */
#derivative-sources-table td.name > div.name {
  cursor: pointer;
  padding-left: 12px;
}
#derivative-sources-table td.name > div.name.collapsed {
  background: url(/misc/menu-collapsed.png) left 0.6em no-repeat;
}
#derivative-sources-table td.name > div.name.expanded {
  background: url(/misc/menu-expanded.png) left 0.6em no-repeat;
}
#derivative-sources-table td.name > div.description-and-dependents {
  display: none;
  padding-left: 12px;
  color: #666;
  font-size: 0.923em;
}
/* Description and dependents column */
#derivative-sources-table td.name > div.description-and-dependents > div {
  line-height: inherit;
  margin: 1em 0 1em 0;
}
#derivative-sources-table td.name > div.description-and-dependents > div.description {
  line-height: 1.5em;
}
#derivative-sources-table td.name > div.description-and-dependents > div.dependents {
  margin-bottom: 0;
}
#derivative-sources-table td.name > div.description-and-dependents > div.dependents > div.required-by > div.label {
  color: #ff0000;
}
#derivative-sources-table td.name > div.description-and-dependents > div.dependents > div ul {
  padding: 0 0 0.5em 1em;
}
/* Settings column */
#derivative-sources-table td.settings div.setting {
  margin-bottom: 0.5em;
}
#derivative-sources-table td.settings div.setting:last-child {
  margin-bottom: 0;
}
